<!DOCTYPE html>
<html>
  <head>
    <title>AppointMe</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <%= render partial: "layouts/header" %>
    
    <div class="container" role="main">

      
      <%if alert.present? %>
        <div class="alert alert-warning">
          <strong><p id="alert"><%= alert %></p></strong>
        </div>
      <%end%>

      <%if notice.present? %>
        <div class="alert alert-info">
          <strong><p id="alert"><%= notice %></p></strong>
        </div>
      <%end%>

      <%= yield %>

    </div>
  </body>
</html>
